server/html/lib
server/html/pi_sensors_config.js
server/config/mongodb_config.json
server/api/pi_sensors_api.wsgi
client/config/pi_config.json
client/config/*.cert
client/bin/TSL2561_get_readings
client/bin/i2c_lib.py
client/bin/lcddriver.py
client/bin/Adafruit_BME280.py
*.pyc
